<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nik.drone">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/appiconfinal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DroneProject"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fly"
            android:label="@string/title_activity_fly"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".sendData"
            android:label="@string/title_activity_send_data"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Choice"
            android:label="@string/title_activity_choice"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
